{% extends "layout.html" %}

{% block title %}
    Today's Game
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <form action="/game" method="post">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <div><p style="color:red"><strong>FlashWord of the day: {{ soundslike }}</strong></p></div>
                <div><p style="color:orange">{{ description }}</p></div>
                <div><p style="color:blue">Example question: {{ exq }}</p></div>
                <div><p style="color:blue">Answer: {{ exa }}</p></div>
            </div>
        </div>
        <div>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">#</th>
                    <th class="text-start">Question</th>
                    <th class="text-end">Answer</th>
                </tr>
                </thead>
                <tbody>
                    {% for question in questionsoftheday %}
                        <tr>
                            <td class="text-start">{{ question['id'] }}</td>
                            <td class="text-start">{{ question['question'] }}</td>
                            <td class="text-end"><input autocomplete="off" id="Q{{ question['id'] }}" name="Q{{ question['id'] }}" placeholder="Answer for question {{ question['id'] }}" type="value"></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
        </div>
        <div class=""footer">
            <button class="btn btn-primary footer" type="submit">Done</button>
        </div>
    </form>
</main>
{% endblock %}