    {% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stocksymbol" name="symbol" placeholder="Stock Symbol" type="value">
        </div>
        <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="txn" name="shares" placeholder="# of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy Shares</button>
    </form>
{% endblock %}