{% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option disabled="" selected="">Symbol</option>
                {% for symbol in data %}
                    <option value="{{ symbol.stocksymbol }}">{{ symbol.stocksymbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="# of Shares" type="value">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}